 * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* BACKGROUND IMAGE */

.main-bg {
	background-image: url('bg-img.jpg');
	background-size: cover;
    top: 0;
    left: 0;
    z-index: -1 !important;
}
/* FORM FAMILY */ 

.principal {
	height: 30%;
}

/* h1 text */

.tittle {
	font-family: 'Indie Flower', cursive;
	font-size: 5vw !important; 
	color:rgb(183, 235, 215);
}
/* - TASK LIST - */

.task-main {
	background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3e5151, #decba4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3e5151, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.tareas .lista {
	list-style: none;
}
 
.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
}
 
.tareas .lista li a {
	color: #212121;
	display: block;
	padding: 20px 0;
	text-decoration: none;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}










