 * {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-height: auto;
}
body {
	background: #613d02; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #a57a03, #decba4); /* Chrome 10-25, Safari 5.1-6 */	
  	background: linear-gradient(to right, #5a8a01, #decba4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* FORM GROUP */ 
.principal {
	background: rgb(24,187,76);
	background: radial-gradient(circle, rgba(24,187,76,1) 29%, rgba(161,118,24,1) 76%);
}

/* h1 text */

.tittle {
	font-family: 'Indie Flower', cursive;
	font-size: 5vw !important; 
	color:rgb(0, 60, 255);
}

/* - TASK LIST - */

.tareas .lista {
	list-style: none;
}
 
.tareas .lista li {
	border-bottom: 1px solid #B6B6B6;
	overflow: hidden;
}
 
.tareas .lista li a {
	color: #000000;
	display: inline-block;
	padding: 20px 0;
	text-decoration: none;
	font-family: 'Frank Ruhl Libre', serif;
	overflow: hidden;
}
 
.tareas .lista li a:hover {
	text-decoration: line-through;
}










